/* title */
h1{
    color:orange;
}

/* more info div background */
.moreInfo-bg{
    background-repeat: no-repeat; 
    background-size: 25%; 
    background-position-x: right; 
    background-position-y: center;
}